[submodule "hantec"]
	path = hantec
	url = git@git.vauxoo.com:vauxoo/hantec.git
[submodule "connector"]
	path = connector
	url = git@github.com:OCA/connector.git
	branch = 15.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 15.0
